<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="people"></ion-icon> About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>Contact</ion-card-header>
        <ion-card-content class="grid-container">
        <img src="{{ contact.photo }}"class="one">
        <div class="two">
          <div><p>
            Nom :  <strong>{{ contact.nom }}</strong>
            </p>
            <p>
            Prénom :  <strong>{{ contact.prenom }}</strong>
            </p></div>
        
        <br>
        <P>
        Email :  <strong>{{ contact.email }}</strong>
        </P>
        <P>
        Age :  <strong>{{ contact.age }}</strong>
        </P>
        
        </div>
       
        </ion-card-content>
        </ion-card>

</ion-content>
