<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="people"></ion-icon> About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>Contact</ion-card-header>
        <ion-card-content class="grid-container">
        <img src="{{ contact.photo }}"class="one" class="col-sm-4">
        <div class="two">
          <div class="row">
            
              <div class="col-sm-4"><p>
            Nom :  <strong>{{ contact.nom }}</strong>
            </p></div>
            <div class="col-sm border">
            <p>McDonald's Corporation est une chaîne de restauration 
              rapide américaine fondée par l'homme d'affaires Ray Kroc 
              en 1952 après qu'il eut acheté les droits d'une petite 
              chaîne de hamburger exploitée à partir de 1940 par 
              Richard et Maurice McDonald.</p></div>
         </div>
        
        </div>
       
        </ion-card-content>
        </ion-card>

</ion-content>
